.div1{
    width: 539px;
    padding-left: 191px;
    font-family: Arial
}
.image{
    width: 700px;
    height: 400px;
}

.doan1{
    font-weight: bold;
    font-size: 20px;
}
.doan2{
    font-size: 15px;
    color: slategrey;
}
.but1{
    width: 100px;
    height: 38px;
    font-size: 15px;
    background-color: rgb(75, 182, 224);
    color: white;
    border-color:rgb(75, 182, 224) ;
}
.tabl{
    width: 100px;
    height: 50px;
}
.alb{
    font-family: Arial;
    padding-left: 423px;
    font-size: 20px;
    font-weight: bold;
}
.tab{
    padding-left: 123px;
}
.cau3{
    word-spacing: 15px;
}
.ke{
    width: 100px;
    border-color: rgb(90, 227, 231);
    background-color: rgb(90, 227, 231);
}
.all{
    color: rgb(35, 126, 211);
    padding-left: 209px;
}
.web{
    padding-left: 400px;
    font-family: Arial;
}
.tabl3{
    width: 231px;
    height: 150px;
}
.tab3{
    width: 100px;
    height: 50px;
}